{% extends "base.html" %} {% block content %}

<div class="d-flex justify-content-between">
  <h2>Dashboard</h2>


  <!-- Button trigger modal -->

<form method="get" action="{% url 'project' %}" class="mx-auto">
  {% csrf_token %}
  <input type="submit" value="explore" class="btn btn-success">
</form>

<button type="button" class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-black" data-toggle="modal" data-target="#exampleModalCenter">+</button>





</div>







<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">search values</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="get" action="{% url 'nonprof_list' %}" class="mx-auto">
          {% csrf_token %}
        <span>
          <input class="" type="text" name="search" id="id_username" required>
        </span>      </div>
      <div class="modal-footer">
          <input type="submit" value="explore" class="btn btn-success">
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>










<hr />
{% if values %}
<div class="card-columns">
  {% for value in values %} {% include "partials/value_card.html" %} {% endfor %}
</div>
{% else %}
<div class="alert alert-primary" role="alert"></div>
{% endif %} {% endblock %}
